/**{
  border: 1px solid blue;
  font-size: 12pt;
  color: black;
  font:Arial, Helvetica;
  background-color: orange;
}

table, tr, td {

  margin: 0;
  padding:0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/
